<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>meetingsList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>会议列表</h1>

<form class="form-horizontal"   th:action="@{/select}"  method="post">
    <div>
        <input type="text" class="form-control" name="id"  id="id" placeholder="根据id查询会议"/>
    </div>
<!--        <div class="col-sm-offset-2 col-sm-10">-->
<!--            <input type="submit" value="Submit" class="btn btn-info" />-->
<!--        </div>-->

</form>

<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>会议序号</th>
            <th>参与人</th>
            <th>主题</th>
            <th>内容</th>
            <th>时间</th>
            <th>备注</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${select}==null" th:each="meeting:${meetings}">
            <th scope="row" th:text="${meeting.id}">1</th>
            <td th:text="${meeting.people}">neo</td>
            <td th:text="${meeting.subject}">Otto</td>
            <td th:text="${meeting.context}">6</td>
            <td th:text="${#dates.format(meeting.time,'yyyy-MM-dd HH:mm:ss')}">Otto</td>
            <td th:text="${meeting.remark}">6</td>
            <td><a th:href="@{/toEdit(id=${meeting.id})}">edit</a></td>
            <td><a th:href="@{/delete(id=${meeting.id})}">delete</a></td>
        </tr>
        <tr th:if="${select}!=null" th:each="select:${select}">
            <th scope="row" th:text="${select.id}">1</th>
            <td th:text="${select.people}">neo</td>
            <td th:text="${select.subject}">Otto</td>
            <td th:text="${select.context}">6</td>
            <td th:text="${#dates.format(select.time,'yyyy-MM-dd HH:mm:ss')}">Otto</td>
            <td th:text="${select.remark}">6</td>
            <td><a th:href="@{/toEdit(id=${select.id})}">edit</a></td>
            <td><a th:href="@{/delete(id=${select.id})}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/toAdd" th:href="@{/toAdd}" class="btn btn-info">add</a>
    </div>
</div>

</body>
</html>
